.text-center {
  text-align: center;
}

.well{
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}



.glyphicon-paperclip:before{
	content:"\e142"
}

.dz-filename {
	font-weight:bold;
}

.dz-success-mark, .dz-error-mark {
	display: none;
}

.dz-remove {
	display: block;
	text-align: center;
}

.dz-details {
	border-bottom: 1px solid LightGray;
}

.dz-progress {
	
	margin-top: 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.dz-upload { 
	border-radius: 4px;
    display: block; 
    background-color: #428bca; 
    height: 20px;
    width: 0%;
    text-align: center;
    color: white;
}

.dz-preview {
	display: inline-block;
	margin: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	line-height: 1.42857;
	margin-bottom: 20px;
	padding: 4px;
}

.file-dropzone {
	border: 1px dashed #ddd;
}

.file-dropzone.drag-over {
	outline: LightGreen solid 4px;
}

.glyphicon{
	position:relative;
	top:1px;display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

/* .col-sm-12{ */
/* 	position:relative; */
/* 	min-height:1px; */
/* 	padding-left:15px; */
/* 	padding-right:15px; */
/* 	float:left; */
/* 	width:100% */
/* } */

