<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="css/purtscher.css" />
<title>Impressum</title>

</head>

<span class="impressum"><body style="background-color:#FFFFFF; color:#000000;">
<p><center><h3>Impressum</h3></center></p>
<p><h5>Betreiber der Seite</h5></p>
<p></p>
<p><h5>Gestaltung, Programmierung und Umsetzung</h5></p>
<p>Huangart | digital branding - <a href="mailto:servus@huangart.at">servus@huangart.at</a> &nbsp;&nbsp;<a href="http://huangart.at" target="_blank">Web</a><br />
  Riesengasse 9/2<br />
A-6020 Innsbruck</p><br />
<p><h5>Haftung für Inhalte</h5></p>
<p>Wir sind stets um Aktualität, Vollständigkeit und Richtigkeit der Inhalte unserer Seiten bemüht, dennoch können wir hierfür keine Garantie übernehmen. Irrtum und Änderungen sind vorbehalten. Eine Verpflichtung zur Überwachung übermittelter oder gespeicherter fremder Informationen besteht nicht. Sobald uns jedoch Rechtsverstöße bekannt werden, werden wir die entsprechenden Inhalte umgehend entfernen. Eine dahingehende Haftung wird allerdings erst ab dem Zeitpunkt der Kenntnis konkreter Rechtsverletzungen übernommen.</p><br />
<p><h5>Haftung für Links</h5></p>
<p>Unsere Seiten enthalten Links auf externe Webseiten fremder Anbieter. Für die Richtigkeit der Inhalte der externen Webseiten ist der jeweilige Anbieter selbst verantwortlich und wir haben keinen Einfluß auf deren Inhalte. Wir übernehmen keinerlei Garantie oder Verantwortung über Inhalte fremder Anbieter.<br />
  Zum Zeitpunkt der Verlinkung wurde die Webseiten Dritter von uns geprüft. Zu diesem Zeitpunkt waren keine Rechtsverstöße erkenntlich. Sollten diese Inhalt verändert werden liegt dies nicht in unserem Verantwortungsbereich und eine ständige Überprüfung fremder Seiten können wir nicht leisten. Sollten uns Rechtsverletzungen bekannt werden, werden wir diese Links sofort von unserer Webseite entfernen.</p><br />
<p><h5>Google Analytics</h5></p>
<p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.</p>
<p>Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
</body></span>
</html>